@model IEnumerable<TrainingSchedule.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>Event Id</tr>
        <tr>Event Name</tr>
        <tr>Event Date</tr>
        <tr>Technology</tr>
        <tr>View Event Sylabus and completion</tr>
    </thead>


    @foreach (TrainingSchedule.Models.Event item in Model)
    {
        <tr>@item.EventID</tr>
        <tr>@item.EventName</tr>
        <tr>@item.Tech</tr>
        <tr> @Html.ActionLink("View", "Event", "Client", routeValues: null, htmlAttributes: new { id = "@item.EventID" })</tr>
    }
</table>